@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
*,
* ::before,
* ::after {
  box-sizing: border-box;
  color: #232d60;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: url(../img/img.png) right bottom no-repeat,
    url(../img/background.png) center no-repeat;

  background-size: 50%, 100%;
}

/*---------------------NAV BAR-----------------*/
header {
  height: 14vh;
  width: 100%;
}

.nav-container {
  min-height: 13vh;
  position: absolute;
  min-width: 94%;
  margin: 0 3%;
  display: flex;
  align-items: center;
}
.row-big {
  width: 90%;
  display: flex;
}
.row-small {
  width: 10%;
}
.navigation {
  min-width: 60%;
}
.main-nav {
  display: flex;
  gap: 5%;
}
.main-nav li {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}
.logo {
  max-width: 20%;
}
.logo-img {
  max-width: 70%;
}
.cart-img {
  max-width: 35%;
  float: right;
}

/* ------------------MAIN-----------------  */
main {
  display: flex;
  width: 100%;
  gap: 5em;
  height: 100vh;
}

/* -----------------ICONS-BAR----------------- */
.icon-bar {
  min-width: 5%;
}

.icons {
  margin-top: 12em;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.icons li {
  margin: 0 auto;
}
/* --------------BUTTON - WRAPPER---------------  */
.container {
  min-width: 33%;
  margin-left: 8em;
  margin-top: 6em;
}
.button-first {
  margin: 0;
}
.color-button {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 1em 1.5em;
  background-image: linear-gradient(
    to right,
    rgb(152, 198, 255),
    rgb(250, 135, 204)
  );
  border-radius: 10px;
  max-width: 45%;
}
.color-button:hover {
  box-shadow: 3px 3px 30px rgba(247, 3, 247, 0.404);
}

/* --------------------WRAPPER TEXT---------- */
.text {
  padding: 1em 0;
}
.text h2 {
  font-size: 2rem;
  line-height: 1.5em;
}
.text p {
  font-size: 1.3rem;
  letter-spacing: 0.01rem;
  padding: 1em 0 1em 0;
}
/* -----------------BUTTON - WRAPPER----------- */
.buttons-wrapper {
  display: flex;
  margin-left: 4em;
  gap: 2em;
}

.img-button {
  width: 60px;
}